@import url('https://fonts.googleapis.com/css?family=Lato:700,400');
@import url('https://fonts.googleapis.com/css?family=Dosis:400');

body {
    background: #fff;
    color: #35495e;
    font-family: Lato, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0px;
    min-height: 100vh;
    background: linear-gradient(to left bottom, rgb(179, 233, 255) 0%, rgb(179, 193, 255) 100%);
}

@media only screen and (min-width: 640px) {
    #app {
        position: absolute;
        height: 600px;
        left: 0;
        right: 0;
        top: 5%;
    }
}

#app {
    font-family: Dosis, Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.title {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #374853;
    line-height: 1.2;
    padding-top: 2.5rem;
    position: relative;
    font-family: Dosis, sans-serif;
    font-weight: 700;
    font-size: 2rem;

}

.introduction {
    padding: 1.25rem 0 0;
    font-family: Dosis, sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #374853;
    line-height: 1.2;
}

@media only screen and (min-width: 1024px) {
    .title {
        font-size: 2.5rem;
    }

    .introduction {
        font-size: 1.5rem;
    }
}


@media only screen and (min-width: 640px) {
    .title {
        font-size: 2.5rem;
    }

    .introduction {
        font-size: 1.5rem;
    }
}


.logo {
    height: 4.375rem;
    margin-right: 1.25rem;
    vertical-align: middle;
    display: inline-block;
}

.version {
    position: absolute;
    bottom: -.4375rem;
    font-size: 1.25rem;
    color: #374853;
    transform: translateX(-100%);
}

.link {
    color: #337ab7;
    text-decoration: none;
    font-weight: 700;
}

.form {
    display: block;
    margin-top: 0em;
}

.form-item,
.form-item-label-top {
    margin-bottom: 1rem;
}

.form-item-label {
    text-align: left;
    vertical-align: middle;
    float: left;
    font-size: 1rem;
    font-weight: 600;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}

.form-item-label-top .form-item-label {
    float: none;
    display: inline-block;
    text-align: left;
    padding: 0 0 10px;
}

.form-item-content {
    line-height: 40px;
    position: relative;
    font-size: 14px;
}

.form-item-content:before {
    display: table;
    content: "";
}

.demo {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    max-width: 1400px;
    margin-bottom: 2rem;
}

.demo .form {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    text-align: left;
    vertical-align: top;
    position: relative;
    padding: 0 20px;
}

@media only screen and (min-width: 750px) {
    .demo .form {
        width: 50%;
    }
}

.demo-textarea {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    font-size: 14px;
}

.demo-textarea .demo-textarea__inner {
    min-height: 44px;
    font-family: Dosis, sans-serif;
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 2;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.demo-textarea__inner:focus {
    outline: none;
    border-width: 2px;
    border-color: #337ab7;
}

.demo-slider {
    height: 40px;
}

.vue-slider-process {
    background-color: #4592af;
}

.vue-slider:hover .vue-slider-process {
    background-color: #337ab7;
}

.vue-slider-dot-handle {
    border-color: #4592af;
}

.vue-slider:hover .vue-slider-dot-handle {
    border-color: #337ab7;
}

.demo-radio label {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px
}

@media only screen and (min-width: 750px) {
    .demo-radio label {
        font-size: 1rem;
        font-weight: 600;
        margin-left: 50px
    }
}

.radio-type {
    width: 20px;
    height: 20px;
    appearance: none;
    position: relative;
    outline: none;
    margin-top: 0px;
}

.radio-type:before {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #337ab7;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    position: absolute;
    top: 5px;
}

.radio-type:checked:before {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #337ab7;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}

.radio-type:checked:after {
    content: "";
    width: 9px;
    height: 9px;
    text-align: center;
    background: #337ab7;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
}

.qrcode-canvas {
    text-align: center;
}

.links-button {
    font-family: Lato, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    color: #fff;
    min-height: 2.5rem;
    line-height: 1.4;
    padding: .5rem 1.875rem .625rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    background: #337ab7;
    border: none;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
    outline: none;
    vertical-align: middle;
    transition: background .1s ease, border-color .1s ease, color .1s ease;
    border-bottom: 3px solid #076ac0;
    text-decoration: none;
    margin: 0 .625rem;
    margin-bottom: 1.5rem;
}

.links-button.button--github {
    padding-left: 3.75rem;
}

.links-button.button--secondary {
    background: #374853;
    border-bottom: 3px solid #0e1316;
}

.links-button.button--large {
    padding: .6875rem 2.5rem .8125rem;
    font-size: 1rem;
    min-height: 3.125rem;
}

.links-button:focus,
.links-button:hover {
    background: #0f67b4;
    cursor: pointer;
}

.button--secondary:focus,
.button--secondary:hover {
    background: #232d34;
    cursor: pointer;
}
