.links-button {
    font-family: Lato, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    color: #fff;
    min-height: 2.5rem;
    line-height: 1.4;
    padding: .5rem 1.875rem .625rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    background: #337ab7;
    border: none;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
    outline: none;
    vertical-align: middle;
    transition: background .1s ease, border-color .1s ease, color .1s ease;
    border-bottom: 3px solid #076ac0;
    text-decoration: none;
    margin: 0 .625rem;
    margin-bottom: 1.5rem;
}

.links-button.button--github {
    padding-left: 3.75rem;
}

.links-button.button--secondary {
    background: #374853;
    border-bottom: 3px solid #0e1316;
}

.links-button.button--large {
    padding: .6875rem 2.5rem .8125rem;
    font-size: 1rem;
    min-height: 3.125rem;
}

.links-button:focus,
.links-button:hover {
    background: #0f67b4;
    cursor: pointer;
}

.button--secondary:focus,
.button--secondary:hover {
    background: #232d34;
    cursor: pointer;
}