@media only screen and (min-width: 640px) {
    #app {
        position: absolute;
        height: 600px;
        left: 0;
        right: 0;
        top: 5%;
    }
}

#app {
    font-family: Dosis, Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}